#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.green{
  width: 100px !important;
  background-color: green;
}

.floatRight{
  float:right;
  width:100px; 
  height:100px;
}

.pink{
  background-color: pink;
  width:100px;
  height:100px;
}

.purple {
  background-color: purple;
  width:100px;
  height:100px;
}